@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
h1 {
    color: #0056b3;
    font-weight: 600;
    font-size: 48px;
}
h2 {
    color: #666;
    font-weight: 400;
    font-size: 24px;
}
p {
    font-size: 14px;
}

.main-container {
border-radius: 4px 4px 0px 0px;
background: #FFF;
box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 32px;
}